.dart_tool/
escuelas_client/lib/src/protocol/
esculas_flutter/linux/flutter
esculas_flutter/macos/Flutter
esculas_flutter/windows/flutter
.dart_tool/package_config.json
escuelas_server/config/passwords.yaml
escuelas_server/lib/env/.env
escuelas_server/lib/env/env.g.dart
escuelas_server/lib/src/generated/